<div class="game" *ngIf="$init | async" [ngClass]="stateService.showCards ? 'cards' : ''">
  <ng-container *ngIf="!stateService.showCards">
    <div *ngIf="!isGameStarted" class="game__start" (click)="startRound()">
      <img src="assets/logo.png" alt="">
    </div>
    <div *ngIf="isGameStarted" class="game__round" (click)="handleClick($event)"
      (contextmenu)="rightClick($event)">
      <div class="game__round__name"> {{currentRound.name}}</div>
      <!-- <img src="assets/Финал.png" alt="" class="game__logo"> -->
      <div class="game__round__field">
        <app-field [round]="currentRound"></app-field>

      </div>
      <div class="game__round__last-song">
        <span *ngIf="showName"> {{ [selectedSong?.artist || '', selectedSong?.name || ''].join(' - ') }}</span>
      </div>
    </div>
  </ng-container>
</div>
<img class="logo" [src]="'assets/' + game.logo + '.png'" alt="">
