.game {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__main {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__rounds {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    &__item {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
    }
    &__songs {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
    &__song-item {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.round-header {
  text-align: center;
  font-weight: bold;
  background-color: #f5f5f5;
}