<div class="game" [ngClass]="stateService.showCards ? 'cards' : ''">
  <ng-container *ngIf="!stateService.showCards">
    <div *ngIf="!isGameStarted" class="game__start" (click)="startGame()">
      <img src="assets/logo.png" alt="">
    </div>
    <div *ngIf="isGameStarted" class="game__round" (click)="handleClick($event)"
      (contextmenu)="rightClick($event)">
      <div class="game__round__name"> {{currentRound.name}}</div>
      <!-- <img src="assets/Финал.png" alt="" class="game__logo"> -->
      <div class="game__round__field">
        <app-field [round]="currentRound"></app-field>

      </div>
      <div class="game__round__last-song">
        <span *ngIf="showName"> {{ [selectedSong?.artist || '', selectedSong?.name || ''].join(' - ') }}</span>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="stateService.showCards">
    <div *ngFor="let ticket of currentRoundTickets" class="player-section player">
      <!-- <div *ngFor="let round of game.rounds; let roundIndex = index;" class="player-section__round"> -->
      <div class="player-section__round">
        <div class="ticket-head">
          <div class="ticket-head__name">Билет №{{ticket.number}}</div>
          <div class="ticket-head__name">{{game.rounds[roundIndex].name}}</div>
          <img class="ticket-head__logo" [src]="'assets/' + stateService.logo + '.png'" alt="">
        </div>
        <table class="table-bordered">
          <tbody>
            <tr *ngFor="let row of ticket.field">
              <td *ngFor="let cell of row">
                <div class="player-cell">
                  <div>{{ cell.name }}</div>
                  <div>{{ cell.artist }}</div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <!-- <div *ngIf="isGameStarted"  class="game__next-round" (click)="showExample()"> Пример </div> -->
</div>
<img class="logo" [src]="'assets/' + stateService.logo + '.png'" alt="">
