:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: max-content;
  margin: 0 auto;
}

.contacts {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__item{
    display: flex;
    align-items: center;
    column-gap: 10px;


  }

  &__img{
    width: 50px;
  }
  &__tg{
    height: 50px;
  }
  &__mail{
    height: 45px;
  }

  &__link{
    cursor: pointer;
  }
}
