<form [formGroup]="form" (ngSubmit)="createGame()">
  <button color="accent" mat-raised-button type="submit" [disabled]="form.invalid">Создать игру</button>
  <div class="settings">
    <div class="settings__main">
      <label>
        Количество билетов:
        <input type="number" formControlName="tickets" />
      </label>

      <fieldset formGroupName="backgroundMusic">
        <legend>Фоновая музыка</legend>
        <label>
          YouTube ID:
          <input formControlName="youtubeId" />
        </label>
        <label>
          Старт (секунды):
          <input type="number" formControlName="start" />
        </label>
        <button (click)="playBackground()" mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </fieldset>
    </div>
    <div class="settings__rounds" formArrayName="rounds">
      <div class="settings__rounds__item" *ngFor="let round of rounds.controls; let i = index" [formGroup]="round">
        <fieldset>
          <legend>Раунд {{ i + 1 }}</legend>
          <label>Колонки поля: <input type="number" formControlName="roundFieldColumns" /></label>
          <label>Ряды поля: <input type="number" formControlName="roundFieldRows" /></label>
          <label>Колонки билета: <input type="number" formControlName="ticketFieldColumns" /></label>
          <label>Ряды билета: <input type="number" formControlName="ticketFieldRows" /></label>
          <label>Иностранные песни: <input type="number" formControlName="notRusSongs" /></label>
          <label>Победители Линия: <input type="number" formControlName="lineWinners" /></label>
          <label>Победители Крест: <input type="number" formControlName="crossWinners" /></label>
          <label>Победители Весь Билет: <input type="number" formControlName="allWinners" /></label>
          <!-- <button type="button" (click)="removeRound(i)">Удалить раунд</button> -->
        </fieldset>
      </div>
    </div>
  </div>


  <!-- <button type="button" (click)="addRound()">Добавить раунд</button> -->
</form>

<div class="songs">
  <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="filter-header">
          Исполнитель
          <input type="text" (click)="eventHandler($event)" (input)="filterByArtist($event)">
        </div>
      </th>
      <td mat-cell *matCellDef="let song"> {{ song.artist }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="filter-header">
          Название
          <input type="text" (click)="eventHandler($event)" (input)="filterByName($event)">
        </div>
       </th>
      <td mat-cell *matCellDef="let song"> {{ song.name }} </td>
    </ng-container>

    <ng-container matColumnDef="rus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Рус </th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.rus" disabled></mat-checkbox>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Приоритет </th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.priority"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Отключено </th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.disabled"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="round">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Раунд </th>
      <td mat-cell *matCellDef="let song">
        <input [id]="song.id + 'round'" type="number" min="1" max="2" style="width: 4ch;" [(ngModel)]="song.round">
       </td>
    </ng-container>

    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Послушать </th>
      <td mat-cell *matCellDef="let song">
        <button (click)="playSong(song)" mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
