<form [formGroup]="form">
  <button
    class="create-button"
    color="accent"
    mat-raised-button
    type="submit"
    [disabled]="form.invalid"
    (click)="createGame()"
  >
    Создать игру
  </button>
  <button
    class="create-button"
    color="primary"
    mat-raised-button
    type="submit"
    [disabled]="form.invalid"
    (click)="createGame(true)"
  >
    Создать тестовую игру
  </button>
  <div class="settings">
    <div class="settings__left">
      <fieldset class="settings__main">
        <legend>Основные</legend>
        <label class="settings__item">
          Количество билетов:
          <input type="number" formControlName="ticketsCount" />
        </label>
        <label class="settings__item settings__comment">
          Комментарий:
          <input formControlName="comment" />
        </label>
      </fieldset>
      <fieldset formGroupName="backgroundMusic" class="settings__backgroundMusic">
        <legend>Фоновая музыка</legend>
        <label class="settings__item">
          YouTube ID:
          <input class="youtube-id" formControlName="youtubeId" />
        </label>
        <label class="settings__item">
          Старт (секунды):
          <input class="start-from" type="number" formControlName="start" />
        </label>
        <button
          *ngIf="!isBackGroundPlaying"
          (click)="playBackground()"
          mat-icon-button
          [disabled]="form.controls['backgroundMusic'].invalid"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button
          *ngIf="isBackGroundPlaying"
          (click)="stopBackground()"
          mat-icon-button
        >
          <mat-icon>pause</mat-icon>
        </button>
      </fieldset>
    </div>
    <div class="settings__rounds" formArrayName="rounds">
      <div

        *ngFor="let round of rounds.controls; let i = index"
        [formGroup]="round"
      >
        <fieldset class="settings__rounds__item">
          <legend>Раунд {{ i + 1 }}</legend>
          <!-- <label class="settings__item"
            >Колонки поля:
            <input type="number" formControlName="roundFieldColumns"
          /></label>
          <label class="settings__item"
            >Ряды поля: <input type="number" formControlName="roundFieldRows"
          /></label>
          <label class="settings__item"
            >Колонки билета:
            <input type="number" formControlName="ticketFieldColumns"
          /></label>
          <label class="settings__item"
            >Ряды билета:
            <input type="number" formControlName="ticketFieldRows"
          /></label> -->
          <label class="settings__item"
            >Иностранные песни:
            <input type="number" formControlName="notRusSongs"
          /></label>
          <label class="settings__item"
            >Победители Линия:
            <input type="number" formControlName="lineWinners"
          /></label>
          <label class="settings__item"
            >Победители Крест:
            <input type="number" formControlName="crossWinners"
          /></label>
          <label class="settings__item"
            >Победители Весь Билет:
            <input type="number" formControlName="allWinners"
          /></label>
          <!-- <button type="button" (click)="removeRound(i)">Удалить раунд</button> -->
        </fieldset>
      </div>
    </div>


  </div>
  <!-- <button type="button" (click)="addRound()">Добавить раунд</button> -->
</form>

<form [formGroup]="songForm">
  <div class="new-song">
    <div class="new-song__group">
      <label class="settings__item">
        Русскоязычная:
        <mat-checkbox formControlName="rus"></mat-checkbox>
      </label>
    </div>
    <div class="new-song__group">
      <label class="settings__item">
        Испольнитель:
        <input formControlName="artist" />
      </label>
      <label class="settings__item">
        Название:
        <input formControlName="name" />
      </label>
    </div>
    <div class="new-song__group">
      <label class="settings__item">
        youtubeId:
        <input class="youtube-id" formControlName="youtubeId" />
      </label>
      <label class="settings__item">
        Старт:
        <input class="start-from" type="number" formControlName="start" />
      </label>
    </div>
    <button
        (click)="playNewSong()"
        [disabled]="songForm.controls['youtubeId'].invalid || songForm.controls['start'].invalid"
        mat-icon-button
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    <button
      class="create-button"
      color="accent"
      mat-raised-button
      type="submit"
      [disabled]="songForm.invalid"
      (click)="createSong()"
    >
      Добавить песню
    </button>
  </div>
  <!-- <button type="button" (click)="addRound()">Добавить раунд</button> -->
</form>

<div class="songs">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="pending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="{ 'hidden': !stateService.user?.isAdmin }">Рассмотрение</th>
      <td mat-cell *matCellDef="let song" [ngClass]="{ 'hidden': !stateService.user?.isAdmin }">
        <button *ngIf="song.pending" (click)="acceptSong(song)" mat-icon-button>
          <mat-icon>check</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="filter-header">
          Исполнитель
          <input
            type="text"
            (click)="eventHandler($event)"
            (input)="filterByArtist($event)"
          />
        </div>
      </th>
      <td mat-cell *matCellDef="let song">{{ song.artist }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="filter-header">
          Название
          <input
            type="text"
            (click)="eventHandler($event)"
            (input)="filterByName($event)"
          />
        </div>
      </th>
      <td mat-cell *matCellDef="let song">{{ song.name }}</td>
    </ng-container>

    <ng-container matColumnDef="rus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Рус</th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.rus" disabled></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="usageCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Игр</th>
      <td mat-cell *matCellDef="let song">{{ song.usageCount }}</td>
    </ng-container>

    <ng-container matColumnDef="lastUsage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <div class="filter-header">
          Последняя игра
          <input
            type="text"
            (click)="eventHandler($event)"
            (input)="filterByUsage($event)"
          />
        </div>
      </th>
      <td mat-cell *matCellDef="let song">{{ song.lastUsage }}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.priority" (change)="changePriority(song)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="disabled">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Исключить</th>
      <td mat-cell *matCellDef="let song">
        <mat-checkbox [(ngModel)]="song.disabled" (change)="changeDisabled(song)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="round">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Поместить в раунд
      </th>
      <td mat-cell *matCellDef="let song">
        <div class="round-cell">
          <input
            [id]="song.id + 'round'"
            type="number"
            min="1"
            max="2"
            style="width: 4ch"
            [(ngModel)]="song.round"
            (change)="changeRound(song)"
          />
          <mat-icon *ngIf="song.round" (click)="dropSongRound(song)">close</mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef>Посмотреть</th>
      <td mat-cell *matCellDef="let song">
        <button (click)="playSong(song)" mat-icon-button>
          <mat-icon>play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ pending: row.pending }"
    ></tr>
  </table>
</div>

