<div *ngIf="gameService.game" class="controls">
  <button class="step-button" *ngIf="gameService.playingMode && !gameService.isSongPlaying" color="accent" mat-fab  (click)="startStep()" [disabled]="gameService.blockStartStep">Следующая песня</button>
  <button class="step-button" *ngIf="gameService.playingMode && gameService.isSongPlaying" color="accent" mat-fab   (click)="finishStep()" [disabled]="gameService.blockStopStep">Остановить песню</button>
  <div *ngIf="!gameService.playingMode" class="rounds">
    <button *ngFor="let round of gameService.game.rounds; let i = index" class="round" color="primary" mat-raised-button (click)="startRound(i)" [disabled]="gameService.isRoundFinished(gameService.game, i)"> {{round.name}}</button>
  </div>
  <div class="tickets">
    <div>
      <span>Билеты в игре: </span>
      <span class="tickets__numbers">{{this.getPlayingTicketsNumber()}}</span>
    </div>
    <div class="controls__group">
      <button class="green" mat-raised-button  (click)="addTickets()">Вернуть билеты в игру</button>
      <button class="red" mat-raised-button  (click)="excludeTickets()">Убрать билеты из игры</button>
    </div>
  </div>
  <button *ngIf="gameService.playingMode" color="warn" mat-raised-button   (click)="stopRound()" [disabled]="gameService.isSongPlaying">Закончить раунд</button>
</div>
