.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  height: 100%;
  justify-content: center;
  .rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  &__group {
    display: flex;
    column-gap: 20px;
  }

  .step-button {
    height: 300px;
    width: 300px;
    font-size: 48px;
    font-weight: 500;
  }
}

.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 18px;
  &__numbers {
    font-weight: 500;
  }
}
