<div class="games">
  <div *ngFor="let game of games" class="game" [ngClass]="{ 'test-game': game.testGame }">
    <div class="game__main">
      <div class="game__info">
        <div *ngIf="game.testGame" class="game__info__item game__info__test">
          <div class="game__info__label">Тестовая игра</div>
          <div class="game__info__value"></div>
        </div>
        <div class="game__info__item">
          <div class="game__info__label">Код</div>
          <div class="game__info__value">{{ game.code }}</div>
        </div>
        <div class="game__info__item">
          <div class="game__info__label">Билеты</div>
          <div class="game__info__value">{{ game.ticketsCount }}</div>
        </div>
      </div>
      <div class="game__actions">
        <div class="game__actions__group">
          <button color="warn" mat-raised-button (click)="resetResults(game)"
            [disabled]="isResetDisabled(game)">Сбросить результаты</button>
          <button color="warn" mat-raised-button (click)="deleteGame(game.id)"
            [disabled]="!stateService.user?.isAdmin && !game.testGame">Удалить игру</button>
        </div>
        <div class="game__actions__group">
          <button color="primary" mat-raised-button (click)="printTickets(game)"
            [disabled]="gameService.isGameFinished(game)">Печать билетов</button>
          <button color="accent" mat-raised-button (click)="addTickets(game)"
            [disabled]="gameService.isGameFinished(game)">Добавить билеты</button>
        </div>
        <div class="game__actions__group">
          <button color="primary" mat-raised-button (click)="runGame(game)"
            [disabled]="gameService.isGameFinished(game)">Управлять игрой</button>
          <button color="accent" mat-raised-button (click)="startGame(game)"
            [disabled]="gameService.isGameFinished(game)">Запустить игру</button>
        </div>
      </div>
    </div>
    <div class="game__additionals">
      <div class="game__info__item game__info__results">
        <div class="game__info__label">Последний запуск</div>
        <div class="game__info__value">{{ game.results.lastStart || '--------------------' }}</div>
        <ng-container *ngFor="let round of game.rounds; let i = index">
          <div class="game__info__label">{{round.name}}</div>
          <div class="game__info__value">{{ getRoundResults(game, i) }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</div>

<ng-container *ngIf="showTickets">
  <div class="tickets">
    <div class="front">
      <div *ngFor="let ticket of tickets" class="player-section player">
        <div class="player-section__round">
          <div class="ticket-head">
            <div class="ticket-head__name">Билет №{{ticket.number}}</div>
            <div class="ticket-head__name">{{roundNames[0]}}</div>
            <img class="ticket-head__logo" [src]="'assets/' + ticketLogo + '.png'" alt="">
          </div>
          <table class="table-bordered">
            <tbody>
              <tr *ngFor="let row of ticket.rounds[0].field">
                <td *ngFor="let cell of row">
                  <div class="player-cell">
                    <div>{{ cell.artist }}</div>
                    <div>{{ cell.name.length > 15 ? cell.name.slice(0,15) + "..." : cell.name }}</div>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let ticket of tickets" class="player-section player">
        <div class="player-section__round">
          <div class="ticket-head">
            <div class="ticket-head__name">Билет №{{ticket.number}}</div>
            <div class="ticket-head__name">{{roundNames[1]}}</div>
            <img class="ticket-head__logo" [src]="'assets/' + ticketLogo + '.png'" alt="">
          </div>
          <table class="table-bordered">
            <tbody>
              <tr *ngFor="let row of ticket.rounds[1].field">
                <td *ngFor="let cell of row">
                  <div class="player-cell">
                    <div>{{ cell.artist }}</div>
                    <div>{{ cell.name.length > 15 ? cell.name.slice(0,15) + "..." : cell.name }}</div>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container></ng-container>