<div class="games">
  <div *ngFor="let game of games" class="game" [ngClass]="{ 'test-game': game.testGame }">
    <div class="game__info">
      <div *ngIf="game.testGame" class="game__info__item game__info__test">
        <div class="game__info__label">Тестовая игра</div>
        <div class="game__info__value"></div>
      </div>
      <div class="game__info__item">
        <div class="game__info__label">Код</div>
        <div class="game__info__value">{{ game.code }}</div>
      </div>
      <div class="game__info__item game__info__last">
        <div class="game__info__label">Последний запуск</div>
        <div class="game__info__value">{{ game.results.lastStart || '--------------------' }}</div>
      </div>
      <div class="game__info__item">
        <div class="game__info__label">Билеты</div>
        <div class="game__info__value">{{ game.ticketsCount }}</div>
      </div>
    </div>
    <div class="game__actions">
      <div class="game__actions__group">
        <button color="warn" mat-raised-button class="tickets__print" (click)="resetResults(game)" [disabled]="isResetDisabled(game)">Сбросить результаты</button>
      </div>
      <div class="game__actions__group">
        <button color="primary" mat-raised-button class="tickets__print" (click)="printTickets(game.id, game.logo)">Печать билетов</button>
        <button color="accent" mat-raised-button class="tickets__print" (click)="addTickets(game)">Добавить билеты</button>
      </div>
      <div class="game__actions__group">
        <button color="primary" mat-raised-button class="tickets__run" (click)="runGame(game.code)">Управлять игрой</button>
        <button color="accent" mat-raised-button class="tickets__run" (click)="startGame(game.code)">Запустить игру</button>
      </div>
    </div>
  </div>

</div>

<ng-container *ngIf="showTickets">
  <div class="tickets">
    <div class="front">
      <div *ngFor="let ticket of tickets" class="player-section player">
        <div class="player-section__round">
          <div class="ticket-head">
            <div class="ticket-head__name">Билет №{{ticket.number}}</div>
            <div class="ticket-head__name">{{roundNames[0]}}</div>
            <img class="ticket-head__logo" [src]="'assets/' + ticketLogo + '.png'" alt="">
          </div>
          <table class="table-bordered">
            <tbody>
              <tr *ngFor="let row of ticket.rounds[0].field">
                <td *ngFor="let cell of row">
                  <div class="player-cell">
                    <div>{{ cell.artist }}</div>
                    <div>{{ cell.name.length > 15 ? cell.name.slice(0,15) + "..." : cell.name }}</div>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <div *ngFor="let ticket of tickets" class="player-section player">
        <div class="player-section__round">
          <div class="ticket-head">
            <div class="ticket-head__name">Билет №{{ticket.number}}</div>
            <div class="ticket-head__name">{{roundNames[1]}}</div>
            <img class="ticket-head__logo" [src]="'assets/' + ticketLogo + '.png'" alt="">
          </div>
          <table class="table-bordered">
            <tbody>
              <tr *ngFor="let row of ticket.rounds[1].field">
                <td *ngFor="let cell of row">
                  <div class="player-cell">
                    <div>{{ cell.artist }}</div>
                    <div>{{ cell.name.length > 15 ? cell.name.slice(0,15) + "..." : cell.name }}</div>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
